.App {
    text-align: center;
    &::after {
        content: '';
        background: url('../../assets/bg.webp');
        background-position: center;
        background-size: 50%;
        opacity: 0.1;
        top: 0%;
        left: 0%;
        bottom: 0%;
        right: 0%;
        position: absolute;
        z-index: -1;
        background-repeat: no-repeat;
    }
}

@media (min-width: 320px) and (max-width: 639px) {
    .App {
        &::after {
            background-size: 90%;
        }
    }
}

@media (min-width: 841px) and (max-width: 1024px) {
    .App {
        &::after {
            background-size: 90%;
        }
    }
}
