.Search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    &-button {
        height: 32px;
        width: 20%;
        margin: 20px 0;
        border: 1px solid #cccccc;
        background-color: #ffffff;
        font-size: 1rem;
        font-weight: bold;
        color: #888888;
        transition: 0.25s ease-in;

        &:focus {
            outline: none;
        }

        &:hover {
            border: 2px solid #444444;
            color: #000000;
        }
    }
    &-input {
        height: 32px;
        width: 30%;
        border: 1px solid #444444;
        border-radius: 2px;
        padding: 0 10px;
        font-size: 1rem;
        line-height: 1.75rem;

        &:focus {
            outline: none;
        }
    }

    &-hint {
        font-size: 1rem;
        line-height: 1.75rem;
        color: #444444;
        font-weight: bold;
        letter-spacing: 0.1rem;
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .Search {
        &-input {
            width: 100%;
        }
        &-button {
            width: 100%;
        }
    }
}

@media (min-width: 480px) and (max-width: 839px) {
    .Search {
        &-input {
            width: 70%;
        }
        &-button {
            width: 40%;
        }
    }
}
