.Search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    &-input {
        height: 32px;
        width: 30%;
        border: 1px solid #cccccc;
        border-radius: 2px;
        padding: 0 10px;
        font-size: 1rem;
        line-height: 1.75rem;

        &:focus {
            outline: none;
        }
    }

    &-hint {
        font-size: 1rem;
        line-height: 1.75rem;
        color: #444444;
        font-weight: bold;
        letter-spacing: 0.1rem;
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .Search {
        &-input {
            width: 100%;
        }
    }
}

@media (min-width: 480px) and (max-width: 839px) {
    .Search {
        &-input {
            width: 70%;
        }
    }
}
